<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All artists</title>
</head>
<body>
<h1>All artists</h1>

<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Nick</th>
    </tr>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.id}">123</td>
        <td th:text="${artist.firstName}">Mister</td>
        <td th:text="${artist.lastName}">Kononowicz</td>
        <td th:text="${artist.nick}">Destroyer</td>
    </tr>
</table>
</body>
</html>