<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your songs</title>
</head>
<body>
    <h1>Your songs</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Year</th>
        </tr>
        <tr th:each="song : ${songs}">
            <td th:text="${song.id}">123</td>
            <td th:text="${song.title}">A great pretender</td>
            <td th:text="${song.publisher.name}">EMI</td>
            <td th:text="${song.year}">1988</td>
        </tr>
    </table>
</body>
</html>